$bg-screen:       url("/static/images/screen.svg") center center/cover no-repeat;
$bg-color-screen: #bee5eb;
$padding-screen:  80px;

.blog-body {
  .header-screen {
    background:       $bg-screen;
    background-color: $bg-color-screen;
    padding-top:      $padding-screen;
    padding-bottom:   $padding-screen;
  }
}